// @mixin font($font_name, $file_name, $weight, $style) {
//     @font-face {
//         font-family: $font_name;
//         font-display: swap;
//         src: url("../fonts/#{$file_name}.woff") format("woff"),
//         url("../fonts/#{$file_name}.woff2") format("woff2");
//         font-weight: #{$weight};
//         font-style: #{$style};
//     }
// }


$dark-blue:#001524;
$medium-blue:#123c60;
$light-blue:#007b9a;
$yellow:#fdc200;
$red:#ca4d36;

@import "fonts.scss";
@import "reset.scss";
@import "styles.scss";
@import "layouts/header.scss";
@import "layouts/footer.scss";