.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 64px 22px 62px;
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 122px 0px 0px 2px;

        h4 {
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #828282;
            margin-right: 25px;

        }

        div {
            margin-top: -3px;
            display: flex;

            h4 {
                margin-top: 3px;
            }

        }
    }
}